<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @announcement.course %>
</p>

<p>
  <strong>Announcement description:</strong>
  <%= @announcement.announcement_description %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
