<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Automated Grading System Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automated Grading System Login">

  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>


  <!-- jQuery -->


  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- The fav icon -->
  <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>
<div class="ch-container">
  <div class="row">

    <div class="row">
      <div class="col-md-12 center login-header">
        <h2>Welcome to Automated Grading System</h2>
      </div>
      <!--/span-->
    </div><!--/row-->
    <div class="row">
      <div class="well col-md-5 center login-box">
        <div class="alert alert-info">
          Please login with your Username and Password.
        </div>
        <%= form_for(:session, url: login_path) do |f| %>
              <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                <%= f.email_field :email, class: 'form-control',:placeholder => "Email address" %>
              </div>
              <div class="clearfix"></div><br>
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                <%= f.password_field :password, class: 'form-control',:placeholder => "Password"%>
              </div>
              <div class="clearfix"></div><br>
              <p class="center col-md-5">
                <%= f.submit "Log in", class: "btn btn-primary" %>
              </p>
        <% end %>

        <form action=signup>
          <p class="center col-md-5">
            <button class="btn btn-primary">Register</button>
          </p>
        </form>
      </div>
      <!--/span-->
    </div><!--/row-->
  </div><!--/fluid-row-->
</div><!--/.fluid-container-->

<!-- external javascript -->




</body>
</html>
