<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @assignment.homework %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
