<% if @user and @user.user_role == "instructor" %>
    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <div class="nav-sm nav nav-stacked">
          </div>
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header">Main</li>
            <li>
              <a class="ajax-link" href=show_instructor><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
            </li>
            <li>
              <a href = "<%=create_homework_path()%>" id = "create_homework">
                  <span class="glyphicon glyphicon-edit"></span> Assign New Homework
              </a>
            </li>
            <li>
              <a href = "<%=homework_history_path()%>" id = "homework_history">
                  <span class="glyphicon glyphicon-list-alt"></span> Homework History
              </a>
            </li>
            <li>
              <a href = "<%=view_students_path%>" id = "view_students">
                  <span class="glyphicon glyphicon-user"></span> Students
              </a>
            </li>

            <li>
              <a href = "<%=view_courses_path%>" id = "view_courses">
                  <span class="glyphicon glyphicon-book"></span> Courses
              </a>
            </li>

            <li>
              <a href = "<%=create_course_path()%>" id = "create_course">
                  <span class="glyphicon glyphicon-plus"></span> Add New Course
              </a>
            </li>

            <li>
              <%= link_to logout_path do%>
                  <i class="glyphicon glyphicon-off"></i><span> Logout</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->
<% end %>
