    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <i class="glyphicon glyphicon-home"></i>&nbsp<a href=show_instructor>Home</a>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <h3>Course:
        <span>
        <button id="course_displayed" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <% unless @user.courses.where(id: params[:current_course]).empty? %>
              <%= @user.courses.find(params[:current_course]).course_name%>
          <% else %>
              <%= @user.courses.first.course_name if @user.courses.first %>
          <% end %>

          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% @user.courses.each do |course| %>
              <li id="dropdown_<%= course.id %>"><a href="#"><%= course.course_name %></a></li>
          <% end %>
        </ul>
        </span>
        </h3>
      </div>

      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">

              <h2><i class="glyphicon glyphicon-info-sign"></i> Announcement</h2>

            </div>
            <div class="box-content row">
              <div class="col-lg-7 col-md-12">

                <% @user.courses.each do |course| %>
                    <ul id="annm_course_<%= course.id %>" class="annm"
                        <% unless @user.courses.where(id: params[:current_course]).empty? %>
                          <% if params[:current_course] != course.id.to_s %>
                            style="display: none">
                          <% else %>
                            >
                          <% end %>
                        <% else %>
                          <% if course.id != @user.courses.first.id %>
                            style="display: none">
                          <% else %>
                            >
                          <% end %>
                        <% end %>
                    <% course.announcements.each do |annm|%>
                    <li>
                      <p><%= annm.announcement_description %>
                        <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/announcements/<%= annm.id %>">(Delete)</a>
                      </p>
                    </li>
                    <% end %>
                    </ul>

                <% end %>

                <p>
                  <a id="new_annm_btn" class="btn btn-warning" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNewAnnm">
                    New Announcement
                  </a>
                </p>
                <p>
                  <div class="collapse" id="collapseNewAnnm">
                    <div>
                      <h4 id="new_annm_head">New Announcement</h4>

                      <h5>Course:</h5>
                      <button id="new_course_annm" class="btn btn-default dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="true">
                        <% unless @user.courses.where(id: params[:current_course]).empty? %>
                            <%= @user.courses.find(params[:current_course]).course_name%>
                        <% else %>
                          <%= @user.courses.first.course_name if @user.courses.first %>
                        <% end %>
                      </button>

                      <%= form_tag '/announcements/create', { :multipart => true } do %>


                    <p>

                    <h5>Content</h5>
                    <%=text_area_tag 'announcement[announcement_description]', nil, rows: 3, cols: 120 , placeholder: "Create Your Note..."%>

                    <input type="hidden" id="annm_course_id" name="announcement[course_id]" value="<% unless @user.courses.where(id: params[:current_course]).empty? %><%= params[:current_course]%><% else %><%= @user.courses.first.id if @user.courses.first %><% end %>">

                    <br/>
                    <br/>
                    <div class="row">
                      <div  class="col-md-3">
                        <%= submit_tag "Submit", class: "btn btn-primary"%>
                      </div>
                      <div  class="col-md-3">
                        <a id="show_new_annm_btn" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNewAnnm">
                          Cancel
                        </a>
                      </div>

                    </div>

                <% end %>
              </div>
            </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>

      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">

              <h2><i class="glyphicon glyphicon-list-alt"></i> Homework</h2>

            </div>
            <div class="box-content row">
              <div class="col-md-12">

            <% @user.courses.each do |course| %>
                <table  id="hw_course_<%= course.id %>"
                        class="table table-striped table-bordered bootstrap-datatable datatable responsive"
                    <% unless @user.courses.where(id: params[:current_course]).empty? %>
                      <% if params[:current_course] != course.id.to_s %>
                        style="display: none">
                      <% else %>
                        >
                      <% end %>
                    <% else %>
                      <% if course.id != @user.courses.first.id %>
                        style="display: none">
                      <% else %>
                        >
                      <% end %>
                    <% end %>
                <thead>
                <tr>
                  <th>Homework</th>
                  <th>ReleaseTime</th>
                  <th>Deadline</th>
                  <th>View</th>
                  <th>Submission History</th>

                </tr>
                </thead>
                <tbody>
                <% course.homeworks.where("homeworks.hw_release_time <= CURRENT_TIMESTAMP").each do |hw|%>
                    <tr>
                      <td><%= hw.hw_name %></td>
                      <td><%= hw.hw_release_time %></td>
                      <td><%= hw.hw_due_time %></td>
                      <td class="center">
                        <%= link_to view_assignment_path(:course_id => course.id, :homework_id => hw.id) do%>
                            <button type="button" class="btn btn-success">
                              <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                              View
                            </button>
                        <% end %>
                        </td>
                      <td>
                        <%= link_to all_submission_history_path(:course_id => course.id, :homework_id => hw.id) do%>
                            <button type="button" class="btn btn-info">
                              <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                              View Submission History
                            </button>
                        <% end %>

                      </td>
                    </tr>
                <% end %>
                </tbody>
                </table>
            <% end %>
      </div>
      </div>
      </div>
      </div>
      </div>

    </div>

  <script>
      <% @user.courses.each do |course| %>
      $('#dropdown_<%= course.id%>').click(function(){
          $('#course_displayed').html('<%= course.course_name %>')
                  .attr('aria-expanded', 'false');
          $('#new_course_annm').html('<%= course.course_name %>')
            .attr('aria-expanded', 'false');

          $('.open').attr('class', 'dropdown');
          $('table').hide();
          $('#hw_course_<%= course.id %>').show();
          $('ul.annm').hide();
          $('#annm_course_<%= course.id %>').show();

          $('#annm_course_id').attr('value', '<%= course.id %>')
          return false; });
      <% end %>
  </script>

  <script>
    $('#new_annm_btn').click(function() {
      $(this).hide();
      $('.collapse').collapse('show');
      $("html,body").animate({
        scrollTop: $('#new_annm_head').offset().top
      });
    });

    $('#show_new_annm_btn').click(function() {
      $('#new_annm_btn').show();
      $('.collapse.in').collapse('hide');
    });


  </script>
