<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Instructor Main</title>

  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>
  <%= stylesheet_link_tag "jquery.noty" %>
  <%= stylesheet_link_tag "noty_theme_default" %>
  <%= stylesheet_link_tag "elfinder.min" %>
  <%= stylesheet_link_tag "elfinder.theme" %>
  <%= stylesheet_link_tag "jquery.iphone.toggle" %>
  <%= stylesheet_link_tag "uploadify" %>
  <%= stylesheet_link_tag "animate.min" %>


  <!-- jQuery -->
  <script src="bower_components/jquery/jquery.min.js"></script>

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- The fav icon -->
  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="img/logo16.ico" class="hidden-xs"/>
      <span>Welcome!</span></a>

    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </div>
    <!-- user dropdown ends -->

    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>

  </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
  <div class="row">

    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <div class="nav-sm nav nav-stacked">
          </div>
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header">Main</li>
            <li>
              <a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
            </li>
            <li>
              <a class="ajax-link" href="new assignment.html"><i class="glyphicon glyphicon-edit"></i><span> Assign New Homework</span></a>
            </li>
            <li><a class="ajax-link" href="homeworktable.html"><i class="glyphicon glyphicon-list-alt"></i><span> Homework History</span></a></li>
            <li><a class="ajax-link" href="studenttable.html"><i class="glyphicon glyphicon-eye-open"></i><span> Student History</span></a></li>
            <li><a href=logout><i class="glyphicon glyphicon-off"></i><span> Logout</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            Home
          </li>
        </ul>
      </div>
      <div class=" row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a data-toggle="tooltip" class="well top-block" href="studenttable.html">
            <i class="glyphicon glyphicon-user blue"></i>
            <div>Students</div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a data-toggle="tooltip" class="well top-block" href="homeworktable.html">
            <i class="glyphicon glyphicon-star green"></i>
            <div>Homework History</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">
              <h2><i class="glyphicon glyphicon-info-sign"></i> Introduction</h2>
            </div>
            <div class="box-content row">
              <div class="col-lg-7 col-md-12">
                <h1>
                  Memo <br>
                </h1>
                <p>
                  1.Assignment1 will be assigned on xx/xx/xxxx.<br>
                  2.blablablabla<br>
                </p>
                <p class="center-block download-buttons">
                  <a href="#" class="btn btn-default btn-lg">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<%= link_to 'Create_homework', create_homework_path(:course_id => 1, :homework_id => 1)%>

</body>
</html>

