<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Student Main</title>
  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>

  <!-- jQuery -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- The fav icon -->
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
      <img alt="Charisma Logo" src="img/logo16.ico" class="hidden-xs" />
      <span>Welcome!</span>
    </a>
    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li><a href=login>Logout</a></li>
      </ul>
    </div>
    <!-- user dropdown ends -->
    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>
  </div>
</div>
<!-- topbar ends -->
<div class="ch-container" style="width: 1200px; margin: 0 auto;">
  <div class="row">
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href="student index.html">Home</a>
          </li>
        </ul>
      </div>
      <h2>
        Welcome, <%=@user.user_name %> &nbsp; Your Email: <%=@user.user_email %> &nbsp; Your Role: <%=@user.user_role %>
      </h2>
      <div class="row">
        <div class="box">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-user"></i> Homework</h2>
            </div>
            <div class="box-content">
              <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                <tr>
                  <th>Homework</th>
                  <th>Status</th>
                  <th>Grade</th>
                  <th>View</th>
                  <th>Submission History</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Homework 1</td>
                  <td class="center">1 hours 32 minites</td>
                  <td class="center">100/100</td>
                  <td class="center">
                    <a class="btn btn-success" href="student view assignment.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      View
                    </a>
                  </td>
                  <td class="center">

                    <a class="btn btn-info" href="Student submission history.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      Submission Hisory
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Homework 2</td>
                  <td class="center">1 hours 32 minites</td>
                  <td class="center">100/100</td>
                  <td class="center">
                    <a class="btn btn-success" href="student view assignment.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      View
                    </a>
                  </td>
                  <td class="center">

                    <a class="btn btn-info" href="Student submission history.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      Submission Hisory
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Homework 3</td>
                  <td class="center">1 hours 32 minites</td>
                  <td class="center">100/100</td>
                  <td class="center">
                    <a class="btn btn-success" href="student view assignment.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      View
                    </a>
                  </td>
                  <td class="center">

                    <a class="btn btn-info" href="Student submission history.html">
                      <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                      Submission Hisory
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->

<!-- external javascript -->


</body>
</html>

<p>
<th>Welcome, <%=@user.user_name %></th>
</p>
<p>
<th>your email: <%=@user.user_email %></th>
</p>
<p>
<th>your role: <%=@user.user_role %></th>
</p>

<p>
<table>
  <thead>
  <tr>
    <th>Course </th>
    <th>Course_id </th>
    <th>Course_homeworks<th>
  </tr>
  </thead>

  <tbody>
  <% @user.courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= course.id %></td>
        <% course.homeworks.each do |hw|%>
            <td><%= hw.hw_name %></td>
            <td><%= hw.hw_description %></td>
            <td><%= hw.hw_release_time %></td>
            <td><%= hw.hw_due_time %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= debug(params) if Rails.env.development? %>
</p>
