<noscript>
  <div class="alert alert-block col-md-12">
    <h4 class="alert-heading">Warning!</h4>
    <p>
      You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
      enabled to use this site.
    </p>
  </div>
</noscript>

<div id="content">
  <!-- content starts -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_student>Home</a>
          </li>
        </ul>
      </div>
      <h2>
        Welcome, <%=@user.user_name %> &nbsp; Your Email: <%=@user.user_email %> &nbsp; Your Role: <%=@user.user_role %>
      </h2>
      <div class="box">
        <div class="box-inner">
          <div class="box-header well" data-original-title="" style="height: 50px">

            <div class="dropdown">
              Course:
              <button id="course_displayed" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= @first_course.course_name if @first_course %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% @user.courses.each do |course| %>
                    <li id="dropdown_<%= course.id %>"><a href="#"><%= course.course_name %></a></li>
                <% end %>
              </ul>
            </div>

          </div>
          <div class="box-content">

            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Announcement</h3>
              </div>
              <div class="panel-body">
                <% @user.courses.each do |course| %>
                    <ul id="annm_course_<%= course.id %>" class="annm"
                        <% if @first_course and course.id != @first_course.id %>
                        style="display: none">
                        <% else %>
                        >
                        <% end %>
                    <% course.announcements.each do |annm|%>
                    <li><p><%= annm.announcement_description %></p></li>
                    <% end %>
                    </ul>

                <% end %>
              </div>
            </div>


            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Homework</h3>
              </div>
              <div class="panel-body">

                <% @user.courses.each do |course| %>
                    <table  id="hw_course_<%= course.id %>"
                            class="table table-striped table-bordered bootstrap-datatable datatable responsive"
                            <% if @first_course and course.id != @first_course.id %>
                            style="display: none">
                            <% else %>
                            >
                            <% end %>
                    <thead>
                    <tr>
                      <th class="sorting">Homework</th>
                      <th class="sorting">ReleaseTime</th>
                      <th class="sorting">Deadline</th>
                      <th class="sorting">Status</th>
                      <th class="sorting">Grade</th>
                      <th>View</th>
                      <th>Submission History</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% course.homeworks.where(["homeworks.hw_release_time <= ?", Time.zone.now]).each do |hw|%>
                        <tr>
                          <td><%= hw.hw_name %></td>
                          <td><%= hw.hw_release_time %></td>
                          <td><%= hw.hw_due_time %></td>
                          <td></td>
                          <td></td>
                          <td class="center">
                            <%= link_to submit_homework_path(:course_id => course.id, :homework_id => hw.id) do%>
                                <button type="button" class="btn btn-success">
                                  <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                  View
                                </button>
                            <% end %></td>
                          <td class="center">
                            <%= link_to submission_history_path(:course_id => course.id, :homework_id => hw.id) do%>
                                <button type="button" class="btn btn-info">
                                  <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                  Submission History
                                </button>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>


                    </tbody>
                    </table>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

<!-- external javascript -->
<script>
    <% @user.courses.each do |course| %>
    $('#dropdown_<%= course.id%>').click(function(){
        $('#course_displayed').html('<%= course.course_name %>')
                .attr('aria-expanded', 'false');
        $('.open').attr('class', 'dropdown');
        $('table').hide();
        $('.annm').hide();
        $('#hw_course_<%= course.id %>').show();
        $('#annm_course_<%= course.id %>').show();

        return false; });
    <% end %>
</script>
