<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Student Main</title>
  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>

      <!-- jQuery -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- The fav icon -->
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>

<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=show_student>
      <span>Welcome!</span>
    </a>
    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <%= link_to logout_path do%>
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
            logout
          </button>
      <% end %>
    </div>
    <!-- user dropdown ends -->
    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>
  </div>
</div>
<!-- topbar ends -->
<div class="ch-container" style="width: 1200px; margin: 0 auto;">
  <div class="row">
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_student>Home</a>
          </li>
        </ul>
      </div>
      <h2>
        Welcome, <%=@user.user_name %> &nbsp; Your Email: <%=@user.user_email %> &nbsp; Your Role: <%=@user.user_role %>
      </h2>
      <div class="row">
        <div class="box">
          <div class="box-inner">
            <div class="box-header well" data-original-title="" style="height: 50px">

              <div class="dropdown">
                Course:
                  <button id="course_displayed" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= @user.courses.first.course_name %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <% @user.courses.each do |course| %>
                        <li id="dropdown_<%= course.id %>"><a href="#"><%= course.course_name %></a></li>
                    <% end %>
                  </ul>
              </div>

            </div>
            <div class="box-content">

              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">Announcement</h3>
                </div>
                <div class="panel-body">
                  <% @user.courses.each do |course| %>
                      <ul id="annm_course_<%= course.id %>" class="annm"
                          <% if course.id != @user.courses.first.id %>
                          style="display: none">
                      <% else %>
                          >
                      <% end %>
                          <% course.announcements.each do |annm|%>
                              <li><p><%= annm.announcement_description %></p></li>
                          <% end %>
                        </ul>

                  <% end %>
                </div>
              </div>


              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Homework</h3>
                </div>
                <div class="panel-body">

                  <% @user.courses.each do |course| %>
                      <table  id="hw_course_<%= course.id %>"
                              class="table table-striped table-bordered bootstrap-datatable datatable responsive"
                      <% if course.id != @user.courses.first.id %>
                              style="display: none">
                      <% else %>
                                >
                      <% end %>
                    <thead>
                    <tr>
                      <th class="sorting">Homework</th>
                      <th class="sorting">ReleaseTime</th>
                      <th class="sorting">Deadline</th>
                      <th class="sorting">Status</th>
                      <th class="sorting">Grade</th>
                      <th>View</th>
                      <th>Submission History</th>
                    </tr>
                    </thead>
                      <tbody>
                    <% course.homeworks.where(["homeworks.hw_release_time <= ?", Time.zone.now]).each do |hw|%>
                        <tr>
                              <td><%= hw.hw_name %></td>
                              <td><%= hw.hw_release_time %></td>
                              <td><%= hw.hw_due_time %></td>
                              <td></td>
                              <td></td>
                            <td class="center">
                            <%= link_to submit_homework_path(:course_id => course.id, :homework_id => hw.id) do%>
                                <button type="button" class="btn btn-success">
                                  <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                  View
                                </button>
                            <% end %></td>
                          <td class="center">
                            <%= link_to submission_history_path(:course_id => course.id, :homework_id => hw.id) do%>
                                <button type="button" class="btn btn-info">
                                  <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                  Submission History
                                </button>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>


                    </tbody>
                  </table>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->

<!-- external javascript -->
<script>
    <% @user.courses.each do |course| %>
        $('#dropdown_<%= course.id%>').click(function(){
            $('#course_displayed').html('<%= course.course_name %>')
                    .attr('aria-expanded', 'false');
            $('.open').attr('class', 'dropdown');
            $('table').hide();
            $('.annm').hide();
            $('#hw_course_<%= course.id %>').show();
            $('#annm_course_<%= course.id %>').show();

            return false; });
    <% end %>
</script>


</body>
</html>
