
  <div class="row">


    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_instructor>Home</a>
          </li>
          <li>
            Student
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">
              <h2>Students</h2>
            </div>

            <div class="box-content row">
              <div class="box col-md-12">

                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Search Students</label>


                    <div class="form-group">

                      <select id="search_type" class="form-control">
                        <option>ID</option>
                        <option>Name</option>
                        <option>E-mail</option>
                      </select>
                      <input type="text" class="form-control" id="search_val" placeholder="Search Content">

                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>

                    <div class="form-group">

                      <select id="search_by_course" class="form-control">
                        <option>All</option>
                        <% @courses.each do |course|%>
                            <option><%= course.course_name %></option>
                        <% end %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Select by Course</button>
                  </div>
                </form>

              <table class="table">
                <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>Courses</th>
                  <th>View</th>
                </tr>
                </thead>
                <tbody>
                <% @students.each do |stu|%>
                <tr class="active">
                  <th scope="row"><%= stu.id %></th>
                  <td><%= stu.user_name %></td>
                  <td><a href="mailto:<%= stu.user_email %>"><%= stu.user_email %></td>
                  <td>
                    <ul>
                    <% stu.courses.each do |course| %>
                      <li><%= course.course_name %></li>
                    <% end %>
                    </ul>
                  </td>
                  <td class="center">
                    <%= link_to view_student_record_path(:student_id => stu.id) do%>
                        <button type="button" class="btn btn-success">
                          <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                          View This Student's Record
                        </button>
                    <% end %>
                  </td>
                </tr>
                <% end %>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


