<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Instructor Main</title>

  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>


  <!-- jQuery -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- The fav icon -->
  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=show_instructor>
      <span>Welcome!</span></a>

    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <%= link_to logout_path do%>
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
            logout
          </button>
      <% end %>
    </div>
    <!-- user dropdown ends -->

    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>

  </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
  <div class="row">

    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <div class="nav-sm nav nav-stacked">
          </div>
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header">Main</li>
            <li>
              <a class="ajax-link" href=show_instructor><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
            </li>
            <li>
              <%= link_to create_homework_path(:course_id => 1, :homework_id => 1) do %>
                  <span class="glyphicon glyphicon-edit"></span> Assign New Homework
              <% end %>
            </li>
            <li>
              <%= link_to homework_history_path(:course_id => 1, :homework_id => 1) do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Homework History
              <%end%>
            </li>
            <li>
              <%= link_to view_students_path do %>
                  <i class="glyphicon glyphicon-eye-open"></i><span> Students</span>
              <% end %>
            </li>
            <li><a href=logout><i class="glyphicon glyphicon-off"></i><span> Logout</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_instructor>Home</a>
          </li>
          <li>
            Student
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">
              <h2>Students</h2>
            </div>

            <div class="box-content row">
              <div class="box col-md-12">

                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Search Students</label>


                    <div class="form-group">

                      <select id="search_type" class="form-control">
                        <option>ID</option>
                        <option>Name</option>
                        <option>E-mail</option>
                      </select>
                      <input type="text" class="form-control" id="search_val" placeholder="Search Content">

                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>

                    <div class="form-group">

                      <select id="search_by_course" class="form-control">
                        <% @courses.each do |course|%>
                            <option><%= course.course_name %></option>
                        <% end %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Select by Course</button>
                  </div>
                </form>

              <table class="table">
                <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>Courses</th>
                </tr>
                </thead>
                <tbody>
                <% @students.each do |stu|%>
                <tr class="active">
                  <th scope="row"><%= stu.id %></th>
                  <td><%= stu.user_name %></td>
                  <td><a href="mailto:<%= stu.user_email %>"><%= stu.user_email %></td>
                  <td>
                    <ul>
                    <% stu.courses.each do |course| %>
                      <li><%= course.course_name %></li>
                    <% end %>
                    </ul>
                  </td>
                </tr>
                <% end %>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

