<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :homework_id %><br>
    <%= f.text_field :homework_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :sm_grade %><br>
    <%= f.text_field :sm_grade %>
  </div>
  <div class="field">
    <%= f.label :sm_time %><br>
    <%= f.datetime_select :sm_time %>
  </div>
  <div class="field">
    <%= f.label :sm_src_dir %><br>
    <%= f.text_field :sm_src_dir %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
