<p id="notice"><%= notice %></p>

<p>
  <strong>Homework:</strong>
  <%= @submission.homework %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @submission.course %>
</p>

<p>
  <strong>Sm_grade:</strong>
  <%= @submission.sm_grade %>
</p>

<p>
  <strong>Sm_judgement:</strong>
  <%= @submission.sm_judgement %>
</p>

<p>
  <strong>Sm_time:</strong>
  <%= @submission.sm_time %>
</p>

<p>
  <strong>Sm_src_dir:</strong>
  <%= @submission.sm_src_dir %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
