<p id="notice"><%= notice %></p>

<%=@username%>
<h1>Listing Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Homework Index</th>
      <th>Sm_time</th>
      <th>Result</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= submission.created_at%></td>
        <td><%= submission.sm_src_dir %></td>
        <th><%= submission.sm_judgement%></th>
        <th><%= submission.sm_grade%></th>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
