<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Student Submission History</title>
  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>
  <!-- jQuery -->
  <script src="bower_components/jquery/jquery.min.js"></script>
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- The fav icon -->
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
      <img alt="Charisma Logo" src="img/logo16.ico" class="hidden-xs" />
      <span>Welcome!</span>
    </a>
    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </div>
    <!-- user dropdown ends -->
    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>
  </div>
</div>
<!-- topbar ends -->
<div class="ch-container" style="width: 1200px; margin: 0 auto;">
  <div class="row">
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href="student index.html">Home</a>
          </li>
          <li>
            Homework 1 Submission
          </li>
        </ul>
      </div>
      <h2>Welcome, <%=@username%></h2>
      <div class="row">
        <div class="box">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-user"></i><%= @homework.hw_name%></h2>
            </div>
            <div class="box-content">
              <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                <tr>
                  <th>Submission index</th>
                  <th>Submit time</th>
                  <th>Result</th>
                  <th>Grade</th>
                  <th>Download Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Homework 1</td>
                  <td class="center">1</td>
                  <td class="center">Compile Error</td>
                  <td class="center">
                    0/100
                  </td>
                  <td class="center">
                    <a class="btn btn-info" href="#">
                      <i class="glyphicon glyphicon-download-alt icon-white"></i>
                      Download
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Homework 2</td>
                  <td class="center">1</td>
                  <td class="center">2/5 Test Passed</td>
                  <td class="center">
                    40/100
                  </td>
                  <td class="center">
                    <a class="btn btn-info" href="#">
                      <i class="glyphicon glyphicon-download-alt icon-white"></i>
                      Download
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Homework 3</td>
                  <td class="center">1</td>
                  <td class="center">5/5 Test Passed</td>
                  <td class="center">
                    100/100
                  </td>
                  <td class="center">
                    <a class="btn btn-info" href="#">
                      <i class="glyphicon glyphicon-download-alt icon-white"></i>
                      Download
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="clearfix"></div><br>
              <form action="student index.html">
                <p class="center col-md-5">
                  <button class="btn btn-primary" style="width:200px">Back</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->

</body>
</html>

<p id="notice"><%= notice %></p>

<%=@username%>
<h1>Listing Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Homework Index</th>
      <th>Sm_time</th>
      <th>Result</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= submission.created_at%></td>
        <th><%= submission.sm_judgement%></th>
        <th><%= submission.sm_grade%></th>
        <th><%= link_to 'download', display_submission_file_path(:path => submission.sm_src_dir) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
