<%= form_for(@course_to_homework) do |f| %>
  <% if @course_to_homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_to_homework.errors.count, "error") %> prohibited this course_to_homework from being saved:</h2>

      <ul>
      <% @course_to_homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :homework_id %><br>
    <%= f.text_field :homework_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
