
  <div class="row">


    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <i class="glyphicon glyphicon-home"></i>&nbsp<a href=show_instructor>Home</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-edit"></span>&nbspAssign new homework
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-user"></i> Homework Information</h2>
            </div>
            <div class="box-content">
              <div class="clearfix"></div><br>



              <% flash.each do |key, msg| %>
                  <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
              <% end %>
              <div class="row">
                <div class="col-md-6">

                  <div class="dropdown">
                    Course:
                    <button id="course_displayed" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <%= @user.courses.first.course_name if @user.courses.first %>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <% @user.courses.each do |course| %>
                          <li id="dropdown_<%= course.id %>"><a href="#"><%= course.course_name %></a></li>
                      <% end %>
                    </ul>
                  </div>

              <%= form_tag '/homeworks/create', { :multipart => true } do %>


                    <p>
                      <h3>Homework Name</h3>
                    <%= text_field_tag 'hw_name','',size:15 %>
                    <h3>Homework Description</h3>
                    <%=text_area_tag 'hw_description', nil, rows: 8, cols: 120 , placeholder: "Create Your Note..."%>
                      <div class="row">
                        <div class="col-md-6">
                    <h4> Test input </h4>
                    <%= file_field_tag 'testcase_input' %>
                        </div>
                        <div class="col-md-6">
                    <h4>Test output </h4>
                    <%= file_field_tag 'testcase_output' %>
                        </div>
                      </div>
                    <h4>Due date   </h4>
                    <%= datetime_select(:time, 'due_time') %>
                    <h4>Release date</h4>
                    <%= datetime_select(:time, 'release_time') %>
                      <input type="hidden" id="course_id" name="course_id" value="<%= @user.courses.first.id if @user.courses.first %>">

                      <br/>
                      <br/>
                      <div class="row">
                        <div  class="col-md-3">
                          <%= submit_tag "Submit", class: "btn btn-primary"%>
                        </div>
                        <div  class="col-md-3">
                          <button class="btn btn-default" style="width:106px">Cancel</button>
                        </div>

                      </div>

              <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    <% @user.courses.each do |course| %>
    $('#dropdown_<%= course.id%>').click(function(){
        $('#course_displayed').html('<%= course.course_name %>')
                .attr('aria-expanded', 'false');
        $('.open').attr('class', 'dropdown');

        $('#course_id').attr('value', '<%= course.id %>')

        return false; });
    <% end %>
</script>
