<!DOCTYPE html>
<html lang="en">
<head>
  <!--
      ===
      This comment should NOT be removed.

      Charisma v2.0.0

      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0

      http://usman.it
      http://twitter.com/halalit_usman
      ===
  -->
  <meta charset="utf-8">
  <title>Instructor Edit Homework</title>

  <!-- The styles -->
  <%= stylesheet_link_tag "bootstrap-cerulean.min" %>
  <%= stylesheet_link_tag "charisma-app" %>

  <!-- jQuery -->
  <script src="bower_components/jquery/jquery.min.js"></script>

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- The fav icon -->
  <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=show_instructor> <img alt="Charisma Logo" src="img/logo16.ico" class="hidden-xs"/>
      <span>Welcome!</span></a>

    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <%= link_to logout_path do%>
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
            logout
          </button>
      <% end %>
    </div>
    <!-- user dropdown ends -->

    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="http://www.google.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                 type="text">
        </form>
      </li>
    </ul>

  </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
  <div class="row">

    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <div class="nav-sm nav nav-stacked">
          </div>
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header">Main</li>
            <li>
              <a class="ajax-link" href=show_instructor><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
            </li>
            <li>
              <%= link_to create_homework_path(:course_id => 1, :homework_id => 1) do %>
                  <span class="glyphicon glyphicon-edit"></span> Assign New Homework
              <% end %>
            </li>
            <li>
            <%= link_to homework_history_path(:course_id => 1, :homework_id => 1) do %>
                <span class="glyphicon glyphicon-list-alt"></span> Homework History
            <%end%>
            </li>
            <li>
              <a class="ajax-link" href=view_students><i class="glyphicon glyphicon-eye-open"></i><span> Students </span></a>
            </li>
            <li>
              <a href=logout><i class="glyphicon glyphicon-off"></i><span> Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_instructor>Home</a>
          </li>
          <li>
            Edit Homework
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-user"></i> <%=@homework.hw_name%> Description</h2>
            </div>
            <div class="box-content">
              <div class="clearfix"></div><br>
              <form>
                <center>
                  <h2><%=@homework.hw_name%></h2>
                </center>
              </form>

              <center>
                <div class="clearfix"></div><br>
                <form action="/html/tags/html_form_tag_action.cfm" method="post">

                                 <textarea name="contents" id="contents" style="width: 50%;text-align:justify; padding: 2%; height: 500px; font:20px italic; border: 10px double gray; ">
<%=@homework.hw_description%>
                                  </textarea><br>
                  <div class="clearfix"></div><br>
                </form>
              </center>
              <center>
                <div class="form-group">
                  <label for="exampleInputFile">Upload testcase</label>
                  <input type="file" id="upload file" name="upload file"/>
                </div>
              </center>
              <form action="homeworktable.html">
                <p class="center col-md-5">
                  <button type="submit" id="finish button" class="btn btn-primary" style="width:150px">Finish</button>
                </p>
              </form>
              <form action=show_instructor>
                <p class="center col-md-5">
                  <button class="btn btn-primary" style="width:150px">Cancel</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
