
  <div class="row">

    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
        <p>
          You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.
        </p>
      </div>
    </noscript>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <div>
        <ul class="breadcrumb">
          <li>
            <a href=show_instructor>Home</a>
          </li>
          <li>
            Homework History
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-user"></i> Homework History</h2>
            </div>
            <br>
            <div class="dropdown">
              <button id="course_displayed" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= @user.courses.first.course_name if @user.courses.first %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% @user.courses.each do |course| %>
                    <li id="dropdown_<%= course.id %>"><a href="#"><%= course.course_name %></a></li>
                <% end %>
              </ul>
            </div>
            <br>
            <% @user.courses.each do |course| %>
                <table  id="hw_course_<%= course.id %>"
                        class="table table-striped table-bordered bootstrap-datatable datatable responsive"
                        <% if course.id != @user.courses.first.id %>
                        style="display: none">
                <% else %>
                >
                <% end %>


                <thead>
                <tr>
                  <th>Homework</th>
                  <th>Release Date</th>
                  <th>Due Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% course.homeworks.each do |hw| %>
                    <tr>
                      <td><%= hw.hw_name %></td>
                      <td><%= hw.hw_release_time %></td>
                      <td><%= hw.hw_due_time %></td>
                      <td class="center">
                        <a class="btn btn-success" href="view assignment.html">
                          <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                          View
                        </a>
                        <a class="btn btn-info" href="#">
                          <i class="glyphicon glyphicon-edit icon-white"></i>
                          Edit
                        </a>
                        <a class="btn btn-danger" href="#">
                          <i class="glyphicon glyphicon-trash icon-white"></i>
                          Delete
                        </a>
                      </td>
                    </tr>
                    <%end%>
                </tbody>


                </tbody>
              </table>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- external javascript -->
<script>
    <% @user.courses.each do |course| %>
    $('#dropdown_<%= course.id%>').click(function(){
        $('#course_displayed').html('<%= course.course_name %>')
                .attr('aria-expanded', 'false');
        $('.open').attr('class', 'dropdown');
        $('table').hide();
        $('#hw_course_<%= course.id %>').show();
        return false; });
    <% end %>
</script>


