<p id="notice"><%= notice %></p>

<h1>Listing Homeworks</h1>

<table>
  <thead>
    <tr>
      <th>Hw name</th>
      <th>Hw description</th>
      <th>Hw release time</th>
      <th>Hw due time</th>
      <th>Hw test case dir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.hw_name %></td>
        <td><%= homework.hw_description %></td>
        <td><%= homework.hw_release_time %></td>
        <td><%= homework.hw_due_time %></td>
        <td><%= homework.hw_test_case_dir %></td>
        <td><%= link_to 'Show', homework %></td>
        <td><%= link_to 'Edit', edit_homework_path(homework) %></td>
        <td><%= link_to 'Destroy', homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework', new_homework_path %>
