<div class="row">
  <noscript>
    <div class="alert alert-block col-md-12">
      <h4 class="alert-heading">Warning!</h4>
      <p>
        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
        enabled to use this site.
      </p>
    </div>
  </noscript>
  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
      <ul class="breadcrumb">
        <li>
          <i class="glyphicon glyphicon-home"></i>&nbsp<a href=show_instructor>Home</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-list-alt"></span>&nbsp
          <%= link_to homework_history_path(:course_id => 1, :homework_id => 1) do %>
               Homework History
          <%end%>
        </li>
        <li>
          <span class="glyphicon glyphicon-book"></span>&nbsp<%= @homework.hw_name%>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> <%= @homework.hw_name%> Description</h2>
          </div>
          <div class="box-content">
            <div class="clearfix"></div><br>
            <form>
              <center>
                <h2><%= @homework.hw_name%></h2>
              </center>
            </form>

            <center>
              <div class="clearfix"></div><br>
              <form action="/html/tags/html_form_tag_action.cfm" method="post">

                <textarea name="contents" id="contents" disabled style="width: 50%;text-align:justify; padding: 2%; height: 500px; font:20px italic; border: 10px double gray; ">
<%=@homework.hw_description%>
                                  </textarea><br>
                <div class="clearfix"></div><br>
              </form>
            </center>
            <center>
              <h3>Status:<%= @time_left%> </h3>
              <h3><%= @user_valid %>/<%= @user_in_course %> students has submited </h3>
              <h3>Average Grade: <%= @average_grade %>/100 </h3>
            </center>
            <div class="clearfix"></div><br>
            <tbody>
            <%= link_to edit_homework_path( :homework_id => @homework.id) do %>
                <center> <button type="button" class="btn btn-success">
                  <i class="glyphicon glyphicon-edit icon-white"></i>
                  Edit
                </button>
                </center>
            <%end%>
            </tbody>
            <br>
            <form action=show_instructor>
              <p class="center col-md-5">
                <button class="btn btn-primary" style="width:70px">Back</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>