


  <noscript>
    <div class="alert alert-block col-md-12">
      <h4 class="alert-heading">Warning!</h4>
      <p>
        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
        enabled to use this site.
      </p>
    </div>
  </noscript>
  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
      <ul class="breadcrumb">
        <li>
          <i class="glyphicon glyphicon-home"></i>&nbsp<a href=show_instructor>Home</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-book"></span>&nbspCourses
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well">
            <h2>Courses</h2>
          </div>

          <div class="box-content row">
            <div class="box col-md-12">

              <table class="table">
                <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>Instructors</th>
                  <th>Students</th>
                  <th>Homework</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @user.courses.each do |course|%>
                    <tr class="active">
                      <th scope="row"><%= course.id %></th>
                      <td><%= course.course_name %></td>
                      <td>
                        <ul>
                          <% course.users.where(user_role: "instructor").each do |ist| %>
                              <li><%= ist.user_name %></li>
                          <% end %>
                        </ul>
                      </td>
                      <td>
                        <a c_s_"<%= course.id %>"
                                            class="btn btn-default"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#c_s_<%= course.id %>"
                                            aria-expanded="true"
                                            aria-controls="#c_s_<%= course.id %>">View</a>
                      </td>
                      <td>
                        <a c_s_"<%= course.id %>"
                        class="btn btn-default"
                        type="button"
                        data-toggle="collapse"
                        data-target="#c_h_<%= course.id %>"
                        aria-expanded="true"
                        aria-controls="#c_h_<%= course.id %>">View</a>
                      </td>
                      <td>
                      <%= link_to edit_course_path(course_id: course.id) do %>
                          <button id=c_s_"<%= course.id %>" type="button" class="btn btn-warning">
                            Edit
                          </button>
                      <% end %>
                      </td>
                      <td>
                        <button id=drop_"<%= course.id %>"
                                type="button" class="btn btn-danger"
                                data-toggle="modal" data-target="#confirm_<%= course.id%>">
                          Drop
                        </button>

                        <div id="confirm_<%= course.id%>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="dropCourse<%= course.id %>">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h5 class="modal-title" id="mySmallModalLabel">Are you sure to drop <%= course.course_name %>?</h5>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                <%= link_to drop_course_path(course_id: course.id, user_id: @user.id) do %>
                                    <button id=drop_"<%= course.id %>" type="button" class="btn btn-danger">
                                      Yes
                                    </button>
                                <% end %>
                                </div>
                                <div class="col-md-6">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal" aria-label="Close">
                                  No
                                </button>
                                </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>




                      </td>

                    <tr>
                    <th colspan="7">
                        <div class="collapse" id="c_s_<%= course.id %>">
                          <div class="row">
                          <div class="col-md-12">
                            <table class="table table-bordered">
                              <thead>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>E-mail</th>
                              </thead>
                              <tbody>
                                <% course.users.where(user_role: "student").each_with_index do |stu, i| %>
                                  <% if i % 4 == 0 %>
                                    <tr>
                                      <td><%= stu.id %></td>
                                      <td>
                                        <%= link_to view_student_record_path(student_id: stu.id) do %>
                                          <%= stu.user_name %>
                                        <% end %>
                                      </td>
                                      <td><a href="mailto:<%= stu.user_email %>"><%= stu.user_email %></a></td>
                                  <% elsif i % 4 == 3%>
                                      <td><%= stu.id %></td>
                                      <td>
                                        <%= link_to view_student_record_path(student_id: stu.id) do %>
                                            <%= stu.user_name %>
                                        <% end %>
                                      </td>
                                      <td><a href="mailto:<%= stu.user_email %>"><%= stu.user_email %></a></td>
                                    </tr>
                                  <% else %>
                                      <td><%= stu.id %></td>
                                      <td>
                                        <%= link_to view_student_record_path(student_id: stu.id) do %>
                                            <%= stu.user_name %>
                                        <% end %>
                                      </td>
                                      <td><a href="mailto:<%= stu.user_email %>"><%= stu.user_email %></a></td>
                                  <% end %>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                          </div>
                        </div>
                    </th>
                    </tr>

                    <tr>
                    <th colspan="7">
                        <div class="collapse" id="c_h_<%= course.id %>" >
                          <div class="row">
                          <div class="col-md-12">
                            <table class="table">
                              <thead>
                              <tr class="active">
                                <th>Name</th>
                                <th>Description</th>
                                <th>Release Time</th>
                                <th>Deadline</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Release Time</th>
                                <th>Deadline</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% course.homeworks.each_with_index do |hw, i| %>
                                <% if i % 2 == 0 %>
                                      <tr>
                                        <td><%= hw.hw_name %></td>
                                        <td>
                                          <a href="/view_assignment?course_id=<%= hw.courses.first.id%>&homework_id=<%= hw.id %>" target="_blank">
                                            <button id="dsct<%= hw.id %>" type="button" class="btn btn-success">
                                              <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                              View
                                            </button>
                                          </a>
                                        </td>
                                        <td><%= hw.hw_release_time %></td>
                                        <td><%= hw.hw_due_time %></td>
                                <% else %>
                                        <td><%= hw.hw_name %></td>
                                        <td>
                                          <a href="/view_assignment?course_id=<%= hw.courses.first.id%>&homework_id=<%= hw.id %>" target="_blank">
                                            <button id="dsct<%= hw.id %>" type="button" class="btn btn-success">
                                              <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                              View
                                            </button>
                                          </a>
                                        </td>
                                        <td><%= hw.hw_release_time %></td>
                                        <td><%= hw.hw_due_time %></td>
                                      </tr>
                                <% end %>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                          </div>
                        </div>
                    </th>
                    </tr>

                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

